.btn {
  border: 0;
  outline: 0;
  color: $btn-main-color;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  @include mobile {
    font-size: 1rem;
  }
  &__txt,
  &__icon {
    display: block;
    transition: transform 0.5s ease;
  }
  &__txt {
    padding: 1rem 2rem;
  }
  &-sm {
    font-size: 0.8rem;
  }

  &-sm &__txt {
    padding: 0.7rem 1.5rem;
  }

  &-block {
    width: 100%;
  }
  &__ref {
    text-align: center;
    :hover {
      background-color: rgb(158, 176, 226);
      color: white;
      border: none !important;
      transition: all 0.2s ease-in-out infinite forwards;
    }
    &__all {
      border-radius: 4px;
      background-color: $txt-white;
      color: $btn-main-bg;
      text-transform: none !important;
      border: 1px solid $btn-main-bg;
      padding: 4px 8px;
      margin-left: 10px;
      font-size: 16px !important;
      font-weight: 400;
      &--active {
        background-color: rgb(158, 176, 226);
        border: rgb(158, 176, 226);
        color: white;
      }
    }
  }
}
.search {
  display: flex;
  &__input {
    width: 15%;
    transform: translateX(-50%);
    margin-left: 50%;
    padding: 4px 8px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 09);
  }
  &__btn {
    font-size: 16px !important;
    padding: 2px 4px;
    height: 100%;
    border-radius: 0 4px 4px 0;
    background-color: $txt-white;
    color: $btn-main-bg;
    text-transform: none !important;
    border: 1px solid $btn-main-bg;
    font-size: 16px !important;
    font-weight: 400;
  }

  input[type="text"] {
    padding: 2px 4px;
    border: 1px solid #000;
    border-radius: 2px 0 0 2px;
  }
}
