.contact {
  padding: 0 70px;
  margin: 0 auto;
  max-width: 1150px;
  font-weight: 300;
  &__info {
    text-align: center;
    align-items: center;
    &__name {
      line-height: 2;
      span {
        font-size: 1.225rem;
      }
    }
    &__content {
      margin: 25px 0;
      p {
        font-size: 0.975rem;
        line-height: 1.6;
      }
    }
  }
  &__feedback {
    &__title {
      text-align: center;
    }
    &__content {
      width: 100%;
      margin: 0 25px;
    }
  }
  &__form {
    .together {
    }
    &__label {
      display: inherit;
      margin-top: 12px;
      & > :first-child {
        margin: 0;
      }
    }
    &__input {
      $border-width: 3px;
      width: 100%;
      padding: 8px;
      font-size: 1rem;
      border: none;
      border-bottom: 1px solid #111;
      &:hover {
        border-bottom-width: $border-width;
      }
      &:focus {
        border-bottom-width: $border-width;
      }
    }
  }
}
.section__title::after {
  content: none !important;
}
